<div class="flex justify-center">
    <div class="relative flex flex-col items-start gap-5 mb-10 m-10 text-justify md:text-left">
        <div class=" flex items-start justify-start justify-self-start ">
            <p class=" text-sm flex self-start w-full">ABOUT ME</p>
        </div>
        
        <p class="text-3xl md:text-4xl font-bold items-center text-black/[0.7]  max-w-md md:max-w-4xl">Confused about when and why to use preprocessing techniques</p>
        <p class="text-black/[0.5] max-w-md md:max-w-4xl">Understand the different techniques which are used for preprocessing different kinds of dataset, know when and why to apply specific technique for different kinds of data. This Web tutorial woudl guide you through the different techniques used to clean, transform and enhance your data for better model performance</p>
    </div>
</div>
